.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto;

  &__navList {

    &__item {
      text-decoration: none;
      color: $pale-light-blue;
      font-weight: bold;
    }
  }
}